!.example.env
*.egg
*.egg-info/
.*env
.Python
.coverage
.dynamodb/
.eggs/
.installed.cfg
.serverless-resources-env/
.serverless/
build/
custom*.yml
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
node_modules/
parts/
sdist/
var/
