!.example.env
*.egg
*.egg-info/
.*env
.Python
.coverage
.eggs/
.installed.cfg
.serverless-resources-env/
.serverless/
.venv/
build/
custom.yml
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
image-aliases.json
lib/
lib64/
node_modules/
parts/
sdist/
var/
