[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
boto3 = "*"
coverage = "*"
flake8 = "*"
ipython = "*"
moto = { version = "*", extras = ["ec2", "dynamodb"] }
mypy = "*"
pytest = "*"
pytest-cover = "*"
pytest-mypy = "*"
setuptools_scm = "*"
sshpubkeys = "*"
toml = "*"

[packages]
Flask = "*"
Flask-Dance = "*"
werkzeug = "*"

[requires]
python_version = "3.9"
