<!doctype html>
<html>
  <head>
    <title>{{ branding }} | Auth Complete</title>
  </head>
  <body>
    <h1>{{ branding }} | Auth Complete</h1>
    <p>Please copy and paste the secret below into the
    <code>fuzzbucket-client</code> login flow:
    </p>
    <textarea
      id="fuzzbucket_secret"
      cols="42"
      rows="1"
      style="padding:.5em;"
      readonly
      autofocus
    >{{ secret }}</textarea>
    <script>
      document.getElementById("fuzzbucket_secret").select();
    </script>
  </body>
</html>
